<nav class="navbar">
    <div class="navbar-center a">
        <a (click)="goToInicio()">Reserva</a>
      <a (click)="goToPlanes()">Planes</a>
      <a (click)="goToEntrenadores()">Entrenadores</a>
      <a (click)="goToGim()">Gimnasio</a>
      <a (click)="goToActividades()">Actividades</a>
    </div>
</nav>

<div class="hero">
    <div class="video-container">
        <iframe
            class="bg-video"
            src="https://www.youtube.com/embed/FxAPMjKGvVE?autoplay=1&mute=1&loop=1&playlist=FxAPMjKGvVE&controls=0&showinfo=0&modestbranding=1"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
        ></iframe>
    </div>

    <div class="hero-content">
        <img src="../../../assets/logo.jpg" alt="Logo CrossfitFlow" class="hero-logo">
        <h1>CrossfitFlow</h1>
        <a  class="btn" (click)="goToClases()">Prueba una clase gratis</a>
    </div>
</div>
