<app-navbar></app-navbar>

<div class="container">
  <div class="class-list p-4">
    <div *ngFor="let entrenador of entrenadores" class="class-item">
      <!-- Usando el pipe para mostrar la imagen de cada entrenador -->
      <img
        [src]="entrenador.nombre | entrenador"
        alt="Foto de {{ entrenador.nombre }}"
        class="profile-pic2"
      />
      <h3>{{ entrenador.nombre }}</h3>
      <p><strong>Especialidad:</strong> {{ entrenador.especialidad }}</p>
      <p>
        <strong>Certificaciones:</strong>
        {{ entrenador.certificaciones.join(", ") }}
      </p>
      <p>
        <strong>Años de experiencia:</strong> {{ entrenador.anos_experiencia }}
      </p>
      <p>
        <strong>Disponibilidad:</strong>
        {{ entrenador.disponibilidad.join(", ") }}
      </p>
      <p class="quote">"{{ entrenador.frase_motivacional }}"</p>
    </div>
  </div>
</div>
<app-chatbot></app-chatbot>
