<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">CrossfitFlow</span>
  </div>
  <div class="navbar-center">
    <a (click)="goToInicio()">Inicio</a>
    <a (click)="goToClases()">Planes</a>
    <a (click)="goToEntrenadores()">Entrenadores</a>
    <a (click)="goToGim()">Gimnasio</a>
    <a (click)="goToLista()">Reserva</a>
  </div>
  <div class="navbar-right">
    <a href="mailto:crossfitflow@example.com?subject=Consulta&body=Hola, quisiera más información sobre sus servicios." target="_blank">
      <button>
        <img src="../../../assets/correo.jpg" alt="Notifications" class="pic">
      </button>
    </a>
    <a href="https://www.instagram.com/holidaygym/?hl=es" target="_blank">
      <button>
          <img src="../../../assets/insta.avif" alt="Profile" class="pic">
      </button>
  </a>
    <img src="../../../assets/logo.jpg" alt="Profile Picture" class="profile-pic">
  </div>
</nav>
        <section class="page-section m-5">
          <div class="container relative">
            <div class="row wow fadeInUpShort animated" style="visibility: visible; animation-name: fadeInUpShort;">
              <div class="text-center mb-sm-50">
                <h2 class="section-title">Nuestras Actividades</h2>
                <p class="section-title-descr m-5">
                  Cada actividad es de <b>1 hora de duración apróximadamente,</b> y siempre con
                  la <b>supervisión</b> y <b>atención individualizada</b> de uno
                  de nuestros <b>entrenadores</b>, ya que las clases están
                  estructuradas para <b>grupos reducidos</b> de personas.
                </p>
              </div>
            </div>
            <div class="row section-text wow fadeInUpShort animated" style="visibility: visible; animation-name: fadeInUpShort;">
              <div class="col-md-8 offset-md-2">
                <hr class="mb-4">
                <h4 class="font-alt text-center">CrossFit</h4>
                <div class="text-center alt-features-icon mx-auto mb-4">
                  <img src="../../../assets/logovros.jpg" alt="Icono CrossFit" class="img-fluid">
                </div>        
                <p class="section-title-descr mb-4">
                  CrossFit se define como un sistema de entrenamiento de fuerza
                  y acondicionamiento basado en ejercicios funcionales
                  constantemente variados, realizados a una alta intensidad.
                  Busca la mejor preparación a quienes entrenan para enfrentarse
                  no solo a lo desconocido, si no también a lo imprevisto. Hemos
                  aprendido que aprovechar la camaradería, la competencia y la
                  diversión naturales del deporte o juego produce una intensidad
                  imposible de obtener por otros medios.
                </p>
            
                <p class="section-title-descr mb-4">
                  La metodología CrossFit potencia y trabaja la resistencia
                  cardiovascular, fuerza, potencia, flexibilidad, velocidad,
                  agilidad, coordinación, precisión y equilibrio. Conseguiremos
                  que tu cuerpo sea funcional y obtengamos un estado de forma
                  óptimo y, sobre todo, saludable.
                </p>
            
                <p class="section-title-descr mb-4">
                  <b>¿CrossFit es para todos?</b>
                </p>
            
                <p class="section-title-descr mb-4">
                  La respuesta es sí, CrossFit puede ser adaptado a cualquier
                  persona, no te preocupes por movimientos complejos o por
                  levantar mucho peso, cada entrenamiento se escala a las
                  capacidades personales de cada uno. Lo que pretendemos
                  precisamente es ayudarte a alcanzar ese buen estado de forma y
                  que te veas capaz de desarrollar nuevos movimientos totalmente
                  desconocidos para ti, y de alcanzar todo tipo de retos y
                  objetivos. Incluso aunque no goces de una buena condición
                  física, el coach te enseñará la técnica y adaptará el
                  ejercicio para que entrenes a tu intensidad y a tus
                  capacidades. Poco a poco iremos aprendiendo a realizar los
                  movimientos que al inicio nos parecen “imposibles”. La edad y
                  el sexo no es un impedimento para practicar CrossFit.
                </p>
              </div>
            
                <div class="row section-text wow fadeInUpShort animated" style="visibility: visible; animation-name: fadeInUpShort;">
                  <div class="col-md-8 offset-md-2">
                    <hr class="mb-4">
                    <h4 class="font-alt text-center">Endurance</h4>
                    <div class="text-center alt-features-icon mx-auto mb-4">
                      <img src="../../../assets/gimnasio-equipo-ciclismo-indoor_23-2149270210.avif" alt="Icono CrossFit" class="img-fluid">
                    </div>        
                    <p class="section-title-descr mb-4">
                      La clase de Endurance es una actividad enfocada a entrenar lo que comúnmente se conoce como «cardio», ideal para mejorar tu rendimiento aeróbico. Con este tipo de entrenamiento buscamos mantener un estrés físico durante un tiempo prolongado, a una intensidad media-alta
                    </p>
                
                    <p class="section-title-descr mb-4">
                      Para llegar a conseguir ese estrés físico nos basaremos en todo tipo de entrenamientos de intervalos y prolongados, y en mejorar la resistencia a través de la velocidad y la potencia.
                    </p>
                
                    <p class="section-title-descr mb-4">
                      Para el desempeño de esta actividad contamos, entre otros muchos materiales, con toda la variedad de las mejores máquinas de Fitness diseñadas para este tipo de entrenamiento, como son el Remo, SkiErg, BikeErg y Assault Bike. En Endurance obtendrás los beneficios y todas las capacidades de los entrenamientos aeróbicos de una forma divertida y dinámica, con una atención estrecha del Coach, y evitando entrenamientos prolongados y aburridos como pasarte una hora dando pedales a una bicicleta estática.
                    </p>
                
                    <p class="section-title-descr mb-4">
                      De esta manera con el entrenamiento endurance vamos a construir una base atlética que contemple elementos de fuerza, resistencia y explosividad. Se trata de uno de los pilares sobre los que se construye la metodología CrossFit por lo que requiere la importancia que se merece, en CrossFitFlow te ayudaremos a mejorar en esta disciplina y, sobre todo, ¡A disfrutar haciéndola!
                    </p>
                  </div>
                <div class="row section-text wow fadeInUpShort animated" style="visibility: visible; animation-name: fadeInUpShort;">
                  <div class="col-md-8 offset-md-2">
                    <hr class="mb-4">
                    <h4 class="font-alt text-center">Halterofilia</h4>
                    <div class="text-center alt-features-icon mx-auto mb-4">
                      <img src="../../../assets/halterofilia.jpg" alt="Icono CrossFit" class="img-fluid">
                    </div>        
                    <p class="section-title-descr mb-4">
                      La Halterofilia es un deporte olímpico que se basa fundamentalmente en la fuerza, lo que nos hace mejorar en multitud de ejercicios, no solo en CrossFit, sino también en cualquier disciplina deportiva.                    </p>
                
                    <p class="section-title-descr mb-4">
                      En halterofilia solo existen dos movimientos: “Arrancada o Snatch” y “Cargada de 2 tiempos o Clean and Jerk”. En estas clases se aprenderán, trabajarán y perfeccionarán dichos movimientos.                
                    <p class="section-title-descr mb-4">
                      Esta disciplina no es todo fuerza, también es potencia, flexibilidad, resistencia y constancia. Una buena técnica nos permitirá ir incrementando de forma segura y progresiva nuestras cargas, de esta manera conseguiremos subir nuestros máximos y aumentar tanto la fuerza máxima como la fuerza potencia. Las clases de halterofilia en CrossFitFlow serán reducidas y siempre estarán guiadas y estructuradas por un profesional con años de experiencia en el deporte, de esta manera nuestra evolución siempre es ascendente y segura.                    </p>
                    <p class="section-title-descr mb-4">
                      Igualmente, gracias a este modelo, en CrossFitFlow hacemos la halterofilia accesible a cualquier persona que desee iniciarse en este deporte, sin importar la preparación previa, condición física, edad o sexo, ya que la programación de las clases se ajustará y escalará al nivel de cada uno, guiado y supervisado en todo momento por el entrenador.                    
                  </div>
                <div class="row section-text wow fadeInUpShort animated" style="visibility: visible; animation-name: fadeInUpShort;">
                  <div class="col-md-8 offset-md-2">
                    <hr class="mb-4">
                    <h4 class="font-alt text-center">OpenBox</h4>
                    <div class="text-center alt-features-icon mx-auto mb-4">
                      <img src="../../../assets/photo-1534438327276-14e5300c3a48.jpg" alt="Icono CrossFit" class="img-fluid">
                    </div>        
                    <p class="section-title-descr mb-4">
                      Open Box es lo que se conoce en CrossFit como la sesión de entrenamiento libre, no es una clase dirigida por un entrenador. En estas horas de «Open», ponemos a tu disposición nuestras instalaciones y equipamiento habilitado para que los utilices y disfrutes de la manera que mejor se adapte a tus necesidades.                
                    <p class="section-title-descr mb-4">
                      Es ideal para consolidar y afianzar los ejercicios aprendidos en las clases, así como para trabajar aquellos movimientos más complejos de Halterofilia o Gimnásticos que se te resisten y se han convertido en una cuestión de vivir o morir. Quizás has estado ocupado esta semana y quieres hacer algún entrenamiento pasado que te perdieras en las clases, o simplemente te apetece entrenar a tu ritmo, fuera del grupo, con tus propias rutinas. También puedes querer trabajar un poco la movilidad y hacer una sesión de recuperación después de una semana de entrenamientos dura, o incluso reunirte con amigos, entrenar con ellos y ¡Hacer nuevos!.                    <p class="section-title-descr mb-4">
                      Esta disciplina no es todo fuerza, también es potencia, flexibilidad, resistencia y constancia. Una buena técnica nos permitirá ir incrementando de forma segura y progresiva nuestras cargas, de esta manera conseguiremos subir nuestros máximos y aumentar tanto la fuerza máxima como la fuerza potencia. Las clases de halterofilia en CrossFitFlow serán reducidas y siempre estarán guiadas y estructuradas por un profesional con años de experiencia en el deporte, de esta manera nuestra evolución siempre es ascendente y segura.                    </p>
                
                    <p class="section-title-descr mb-4">
                      CrossFitFlow cuenta con un espacio exclusivo dedicado a Open, rack propio y todo tipo de material, de esta manera no habrá interferencia para realizar Open Box al mismo tiempo que una clase.              
                  </div>
                  <div class="center-container">
                    <h3 class="banner-heading  p-4">¿Preparado para cambiar tu vida?</h3>
                    <a class="btn bg-warning  p-4" (click)="goToLista()">Prueba una clase gratis</a>
                  </div>
            </div>
   
         
      


   
<app-chatbot></app-chatbot>